@model WMS_WebApp.Models.Task

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loc_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loc_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.machine_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.machine_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lot_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lot_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.message)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
